.section.html-content-container {
	padding: 0;
}

main .section.html-content-container > div {
	max-width: inherit;
}

.html-container > div {
	display: flex;
}

.section-code {
	padding: 0;
}

.section-code {
	width: 100%;
}